
table {
  margin: 0 auto 0 auto;
}

th, td {
  padding: 5px 15px;
  vertical-align: middle;
}

th {
  text-align: center;
}

body {
  width: 700px;
  margin: 0 auto;
}

#books {
  background-color: #076873;
  padding: 1em;
}

#book-table {
  background-color: #84d2e2;
  width: 100%;
  margin-bottom: 1em;
  height: auto;
  transition: height 0.5s ease-out;
}
